/* App.css */

body {
  margin: 0;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-header {
  background-color: #282c34;
  width: 100%;
  padding: 20px;
}

.App-link {
  color: #61dafb;
}

/* Dark mode styles */
body.dark-mode {
  background-color: #333;
  color: #fff;
}

body.dark-mode .result {
  background-color: #444;
  border-color: #666;
}

/* Light mode styles */
body.light-mode {
  background-color: #fff;
  color: #333;
}

/* Add styles for the result title */
.result {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

.result-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;

  /* Dark mode styles for the result title */
  &.dark-mode {
    color: #fff; /* Adjust the text color for dark mode */
  }
}
